@import url( href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet" );
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav{ 
  text-decoration: none; 
  width: 100%;
  background-color: rgba(255, 0, 0, 0.0);
  text-align: center;
  font-size: 35px;
  overflow: hidden;
  width: 100%;
}
.video{
position: absolute;
left: 35%;
margin-top: 30px;
}
.p{
  text-align: center;
  margin-top: 50px;
  font-size: 40px;
}
.topnav a:hover {
color: hotpink;
}
table {
  margin: auto;
  text-align: center;
  border-collapse: collapse;
  font-size: 25px;
  background-color: rgba(100, 102, 97, 0.5);
}

table, td, th {
  border: 1px solid black;
}

.topnav a{
  color: rgb(51, 52, 50);
  text-decoration: none;
}

body {
  font-family: 'Raleway', sans-serif;
  color: rgb(51, 52, 50);
}

.back {
  background-image: url("bigbg.jpg");
  height: 100%; 
  background-repeat: no-repeat;
  background-size: cover;
}
* {
  box-sizing: border-box;
}
.pic::after {
  content: "";
  clear: both;
  display: table;
}
.pic1{
  float: left;
  width: 33.33%;
  padding: 5px;
  border: rgb(143, 145, 139) solid;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1, h2 {
  font-weight: 50;
}

h1 {
  text-align: center;
  font-size: 80px;
}

h2 {
  font-size: 60px;
  margin-left: 50px;
}

.txt-type > .txt {
  border-right: 0.2rem solid #777;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color:rgb(84, 86, 82);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(126, 126, 126);
}

.form {
  border-radius: 5px;
  background-color: rgba(100, 102, 97, 0.5);
  padding: 10px;
  margin:200px;
}